<div class="container" ng-keydown="keyPress($event)">
  <div class="row row-centered">
    <div class="large-4 large-centered columns">
      <form method="post" ng-hide="mailSent" ng-submit="sendEmail()" name="forgotForm" autocomplete="off">
        <fieldset>
          <legend>Forgot Password</legend>
          <label ng-class="{ 'error' : forgotForm.email.$invalid && forgotForm.email.$dirty }">Your email
            <input class="input-lg" type="text" name="email" ng-model="email" placeholder="Email">
          </label>
          <small class="error" ng-show="forgotForm.email.$invalid && forgotForm.email.$dirty">
            <div ng-show="forgotForm.email.$error.server">{{forgotForm.email.$error.server}}</div>
          </small>
          <button type="submit" ng-disabled="forgotForm.$invalid || inProgress" class="button small">
            <span data-animation="true" ng-show="inProgress" class="fa fa-refresh fa-spin"></span>
            <span>Send</span>
          </button>
        </fieldset>
      </form>
      <div class="panel" ng-show="mailSent">Check your email for reset password link.</div>
    </div>
  </div>
</div>
