<div class="container">
  <div class="row row-centered">
    <div class="large-4 large-centered columns">
      <form method="post" ng-submit="resetPassword()" name="resetForm" autocomplete="off">
        <fieldset>
          <legend>Reset Password</legend>
          <label ng-class="{ 'error' : resetForm.password.$invalid && resetForm.password.$dirty }">New password
            <input class="input-lg" type="password" name="password" ng-model="password" placeholder="New password">
          </label>
          <small class="error" ng-show="resetForm.password.$dirty && resetForm.password.$invalid">
            <div ng-show="resetForm.password.$error.server">{{resetForm.password.$error.server}}</div>
          </small>
          <button type="submit" ng-disabled="resetForm.$invalid || inProgress" class="button small">
            <span data-animation="true" ng-show="inProgress" class="fa fa-refresh fa-spin"></span>
            <span>Save</span>
          </button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
