//$column-gutter: rem-calc(30);
//$row-width: rem-calc(1000);
$button-font-color: yellow;

// http://foundation.zurb.com/docs/components/pricing_tables.html
$price-item-align: left;

// icon bar
$icon-bar-image-height: 1rem;
$icon-bar-item-padding: 0.6rem;

$price-title-align: left;
//$price-title-padding: rem-calc(15 20);
